* {
  margin: 0;
  padding: 0;
  font-family: "Saira", sans-serif;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  background-color: #1e1e1e;
  padding: 1rem;
}

header div a {
  display: flex;
  align-items: center;
  justify-content: center;
}

header a img {
  width: 5%;
}

header nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

header nav ul li a {
  color: white;
}

footer {
  text-align: center;
  background-color: #1e1e1e;
  padding: 1rem;
  color: white;
}