:root {
  --color-1: #ecfcff;
  --color-2: #cef6ff;
  --color-3: #a4ebfd;
  --color-4: #61dafb;
  --color-5: #1fc0f1;
  --color-6: #03a3d7;
  --color-7: #0681b4;
  --color-8: #0c6892;
  --color-9: #145576;
  --color-10: #154764;
  --color-11: #072d45;
}


* {
  margin: 0;
  padding: 0;
  font-family: "Saira", sans-serif;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* HEADER */

header {
  background-color: #1e1e1e;
  padding: 1rem;
}

header div a {
  display: flex;
  align-items: center;
  justify-content: center;
}

header a img {
  width: 5%;
}

header nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

header nav ul li a {
  color: white;
  transition: color 300ms;
}

header nav ul li a:hover {
  color: var(--color-4);
}

/* LOGIN FORM */
.login-form,
.registro-form {
  background: linear-gradient(315deg, #072d45 0%, #03a3d7 80%);
  width: 50%;
  display: flex;
  margin: 2rem auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  border-radius: 50px;
  box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.75);
}


.login-form input,
.registro-form input {
  margin-bottom: 1rem;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.login-form label,
.registro-form label {
  color: white;
}

.login-form button,
.registro-form button {
  margin-top: 20px;
  border: none;
  padding: 0.5rem 3rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: var(--color-5);
  color: whitesmoke;
  font-weight: bold;
  transition: background-color 300ms;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.login-form button:hover,
.registro-form button:hover {
  background-color: var(--color-7);
  transform: scale(1.1);
}



/* FOOTER */

footer {
  text-align: center;
  background-color: #1e1e1e;
  padding: 1rem;
  color: white;
}